@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&family=Fredoka+One&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  background-color: rgba(148, 148, 148, 0.1);
  z-index: 100;
}
html {
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.topbar {
  padding: 0;
  height: 5rem;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
}
.isuzu-icon {
  width: 10rem;
  /* margin-left: 2rem; */
}
.topbar-link {
  width: 9rem;
  padding: 0 1rem;
  margin: 0 0.2rem;
  align-items: center;
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.account {
  position: relative;
  right: -16rem;
}

.account-photo {
  width: 3rem;
}
.account-photo:hover {
  transform: scale(1.1);
}
.account-dropdown {
  width: 11rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 85%;
  top: 5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.account-open {
  display: flex;
}
.dropdown-item {
  padding: 1.5rem 0;
}
.dropdown-item:hover {
  transform: scale(1.1);
}
.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0 3rem 0;
  background: linear-gradient(to top, rgba(94, 0, 0, 1), rgba(50, 0, 0, 0.5)),
    url(handshake\ -\ Copy.png);
  background-size: cover;

  position: relative;
  top: 7rem;
  margin-bottom: 6rem;
}
.number {
  font-size: 9rem;
  font-family: "Times New Roman", Times, serif;
  margin: 0%;
  font-weight: 900;
  color: #fff;
  margin-top: 2rem;
}
.counter-text {
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  margin: 0 0 1rem 0;
}
.theory {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.intro {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}
.heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: left;
  padding: 2rem;
}
.privileges {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.discount {
  display: flex;
}
.text {
  padding: 2rem;
  font-size: 1.5rem;
  width: 50%;
  text-align: left;
}
b {
  font-size: 2rem;
  padding: 1rem 0;
}
.photos {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 1rem;
}
.pass {
  width: 20rem;
}
